<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap" rel="stylesheet">
    <title>Doggy Dates</title>
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e3b204c805.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-light" href="/"><i class="fad fa-dog-leashed mr-3"></i>Doggy Dates</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto">
          {% if session['user_dogs'] | length != 0 %}
          <li class="nav-item">
            <a class="nav-link" href="/events">Search Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events/create">Add Event</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your Pet Profiles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for dog in session['user_dogs'] %}
            <a class="dropdown-item"  href="/dogs/{{dog.id}}"><i class="fas fa-paw mr-2"></i> {{dog.name}}</a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/dogs/create">Add Dog</a>
          </div>
        </li>
        </ul>
        <span class="inline text-light">
        Logout
        <a class="text-light" href="/logout">
          <i class="fas fa-sign-out-alt mx-2"></i>
        </a>
        </span>
      </div>
    </nav>
    <span id="alertArea">
      <ul class="list-group alerts w-25 float-right">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
          <li class="alert alert-{{category}}" role="alert">{{message}}
            <i class="fas fa-times float-right icon-alert"></i>
          </li>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </ul>
    </span>
      {% if not edit %}
    <div class="container p-5">
      <h3>{{dog.name}}</h3>
      <hr>
      <div class="d-flex space-between">
        <div class="info">
          <p><b>Owner: </b><a href="/users/{{dog.owner.id}}">{{dog.owner.first_name}}</a></p>
          <p><b>Birthday: </b>{{dog.birthday.strftime('%m-%d-%Y')}}</p>
          <p><b>Description: </b>{{dog.description}}</p>
        </div>
          <div id="picture">
          <img class="dogProfile" {% if dog.profile_picture %} src="{{ url_for('static', filename='img/' +  dog.profile_picture )}}" {% else %}
                 src="{{ url_for('static', filename='img/no_pic.jpg' )}}" {% endif %} >
          </div>
      </div>
    <hr>
    {% if dog.owner_id == session['userid'] %}
    <a href="/dogs/{{dog.id}}/edit">Edit</a> |
    <a href="/dogs/{{dog.id}}/delete">Delete</a>
    {% endif %}
    </div>

      {% else %}
      <!-- if edit mode -->
    <div id="editArea" class="p-5">
      <div id="dogInfo">
        <form action="/dogs/{{dog.id}}/edit" method="post" id="editDogForm">
          <div class="mb-2">
            <label for="name">Name: </label>
            <input type="text" id="name" name="name" class="form-control" required value="{{dog.name}}">
          </div>
          <div class="mb-2">
            <label for="birthday">Birthday: </label>
            <input type="text" id="birthday" name="birthday" class="form-control" value="{{dog.birthday.strftime('%m/%d/%Y')}}" required>
          </div>
          <div class="mb-2">
            <label for="size">Size: </label>
            <select id="size" name="size" class="form-control" required>
              <option value="1" {% if dog.size == 1 %} selected {% endif %}>X-Small (0-10 lbs)</option>
              <option value="2" {% if dog.size == 2 %} selected {% endif %}>Small (11-30 lbs)</option>
              <option value="3" {% if dog.size == 3 %} selected {% endif %}>Medium (31-60 lbs)</option>
              <option value="4" {% if dog.size == 4 %} selected {% endif %}>Large (61-90 lbs)</option>
              <option value="5" {% if dog.size == 5 %} selected {% endif %}>X-Large (90+ lbs)</option>
            </select>
          </div>
          <div class="mb-2">
            <label for="description">Description: </label>
            <textarea rows="4" name="description" id="description" class="form-control">{{dog.description}}</textarea>
          </div>
            <input type="submit" class="btn btn-success" value="Update">
            <input type="button" id="cancelEditBtn" class="btn btn-danger" data-page="dogs" datasrc="{{dog.id}}" value="Cancel">
        </form>
      </div>
        <div id="dogPicture">
          <img class="dogProfile" {% if dog.profile_picture %} src="{{ url_for('static', filename='img/' +  dog.profile_picture )}}" {% else %}
                 src="{{ url_for('static', filename='img/no_pic.jpg' )}}" {% endif %} >
          {% if dog.owner_id == session['userid'] %}
          <form action="/dogs/{{dog.id}}/upload" method="post" enctype="multipart/form-data" id="formUpload" class="d-flex justify-center mt-3">
            <input type=file name=file id="fileUpload">
            <button class="btn btn-primary">Save</button>
          </form>
          {% endif %}
        </div>
      </div>
      {% endif %}
    <script src="{{ url_for('static', filename='js/page.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>