<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap" rel="stylesheet">
    <title>Doggy Dates</title>
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e3b204c805.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-light" href="/"><i class="fad fa-dog-leashed mr-3"></i>Doggy Dates</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto">
          {% if session['user_dogs'] | length != 0 %}
          <li class="nav-item">
            <a class="nav-link" href="/events">Search Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events/create">Add Event</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your Pet Profiles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for dog in session['user_dogs'] %}
            <a class="dropdown-item"  href="/dogs/{{dog.id}}"><i class="fas fa-paw mr-2"></i> {{dog.name}}</a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/dogs/create">Add Dog</a>
          </div>
        </li>
        </ul>
        <span class="inline text-light">
        Logout
        <a class="text-light" href="/logout">
          <i class="fas fa-sign-out-alt mx-2"></i>
        </a>
        </span>
      </div>
    </nav>
    <span id="alertArea">
      <ul class="list-group alerts float-right">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
          <li class="alert alert-{{category}}" role="alert">{{message}}
            <i class="fas fa-times float-right icon-alert"></i>
          </li>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </ul>
    </span>
    <script src="{{ url_for('static', filename='js/page.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>