<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap" rel="stylesheet">
    <title>Document</title>
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e3b204c805.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
      <a class="navbar-brand text-light" href="/"><i class="fad fa-dog-leashed mr-3"></i>Doggy Dates</a>
      {% if session['userid'] %}
      <ul class="navbar-nav mr-auto">
        {% if session['user_dogs'] | length != 0 %}
        <li class="nav-item">
          <a class="nav-link" href="/events">Search Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events/create">Add Event</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your Pet Profiles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for dog in session['user_dogs'] %}
          <a class="dropdown-item"  href="/dogs/{{dog.id}}"><i class="fas fa-paw mr-2"></i> {{dog.name}}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/dogs/create">Add Dog</a>
        </div>
      </li>
      </ul>
      <span class="float-right text-light">
        Logout
        <a class="text-light" href="/logout">
          <i class="fas fa-sign-out-alt mx-2"></i>
        </a>
    </span>
      {% endif %}
    </nav>
    <!-- alerts for jinja2 -->
    <ul class="list-group alerts w-25 float-right">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
        <li class="alert alert-{{category}}" role="alert">{{message}}
          <i class="fas fa-times float-right icon-alert"></i>
        </li>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </ul>
    <div>
      {% if owner_page %}
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm btn-primary float-right m-2" data-toggle="modal" data-target="#dogModal">
      Add Dog
    </button>
      <!-- Modal -->
    <div class="modal fade" id="dogModal" tabindex="-1" role="dialog" aria-labelledby="dogModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="dogModalLabel">Add a Dog</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/users/{{session['userid']}}/dogs/create" method="post">
              <div class="mb-2">
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" class="form-control">
              </div>
              <div class="mb-2">
                <label for="birthday">Birthday: </label>
                <input type="date" id="birthday" name="birthday" class="form-control">
              </div>
              <div class="mb-2">
                <label for="weight">Weight: </label>
                <input type="number" id="weight" name="weight" class="form-control">
              </div>
              <div class="mb-2">
                <label for="small_dogs">Dislikes Small Dogs: </label>
                <input type="checkbox" id="small_dogs" name="no_small_dogs">
              </div>
              <div class="mb-2">
                <label for="large_dogs">Dislikes Large Dogs: </label>
                <input type="checkbox" id="large_dogs" name="no_large_dogs">
              </div>
              <div class="modal-footer">
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
                <button class="btn btn-success">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
      <h4>My Dogs</h4>
      {% else %}
      <h4>{{owner.first_name}}'s Dogs</h4>
      {% endif %}
      {% for dog in dogs %}
      <p>{{dog.name}}</p>
      {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='js/page.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>