<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap" rel="stylesheet">
    <title>Doggy Dates</title>
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e3b204c805.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
      $( "#datepicker" ).datepicker();
    } );
    </script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-light" href="/"><i class="fad fa-dog-leashed mr-3"></i>Doggy Dates</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto">
          {% if session['user_dogs'] | length != 0 %}
          <li class="nav-item">
            <a class="nav-link" href="/events">Search Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events/create">Add Event</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Your Pet Profiles
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for dog in session['user_dogs'] %}
            <a class="dropdown-item"  href="/dogs/{{dog.id}}"><i class="fas fa-paw mr-2"></i> {{dog.name}}</a>
            {% endfor %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/dogs/create">Add Dog</a>
          </div>
        </li>
        </ul>
        <span class="inline text-light">
        Logout
        <a class="text-light" href="/logout">
          <i class="fas fa-sign-out-alt mx-2"></i>
        </a>
        </span>
      </div>
    </nav>
    <span id="alertArea">
      <ul class="list-group alerts w-25 float-right">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
          <li class="alert alert-{{category}}" role="alert">{{message}}
            <i class="fas fa-times float-right icon-alert"></i>
          </li>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </ul>
    </span>
    <div class="container p-4">
      <!-- item edit mode -->
      {% if edit %}
      <h3>Edit Event</h3>
      <form action="/events/{{event.id}}/edit" method="post">
        <div class="mb-2">
          <label for="name">Name: </label>
          <input type="text" id="name" name="name" class="form-control" value="{{event.name}}">
        </div>
        <div class="mb-2">
          <label for="description">Description: </label>
          <textarea id="description" name="description" rows="3" class="form-control">{{event.description}}</textarea>
        </div>
        <div class="mb-2">
          <label for="datepicker">Date: </label>
          <input type="text" id="datepicker" name="date" class="form-control" value="{{event.event_time.strftime('%m/%d/%Y')}}">
        </div>
        <div class="mb-2">
          <label for="time">Time</label>
          <input type="text" id="time" name="time" class="form-control" value="{{event.event_time.strftime('%I:%M%p')}}">
        </div>
        {% if event.attendees | length != 0 %}
        <p class="text-danger text-small">Capacity and size restrictions cannot be changed when event has people attending!</p>
        {% endif %}
        <div class="mb-2">
          <label for="capacity"># of Dogs Allowed: </label>
          <input type="number" id="capacity" name="capacity" class="form-control" value="{{event.capacity}}" {% if event.attendees | length != 0 %} disabled {% endif %}>
        </div>
        <div class="mb-2">
          <p>Size Restrictions (sizes not allowed):</p>
        <div class="mb-2 d-flex">
      <div class="mb-2 d-flex">
          <span class="mx-2"><input type="checkbox" name="size_restrictions[]" value="1"
                                    {% if 1 in restrictions %} checked="on" {% endif %}
                                    {% if event.attendees | length != 0 %} disabled {% endif %}> X-Small
            </span>
          <span class="mx-2"><input type="checkbox" name="size_restrictions[]" value="2"
                                    {% if 2 in restrictions %} checked="on" {% endif %}
                                    {% if event.attendees | length != 0 %} disabled {% endif %}> Small
            </span>
          <span class="mx-2"><input type="checkbox" name="size_restrictions[]" value="3"
                                    {% if 3 in restrictions %} checked="on" {% endif %}
                                    {% if event.attendees | length != 0 %} disabled {% endif %}> Medium
            </span>
          <span class="mx-2"><input type="checkbox" name="size_restrictions[]" value="4"
                                    {% if 4 in restrictions %} checked="on" {% endif %}
                                    {% if event.attendees | length != 0 %} disabled {% endif %}> Large
            </span>
          <span class="mx-2"><input type="checkbox" name="size_restrictions[]" value="5"
                                    {% if 5 in restrictions %} checked="on" {% endif %}
                                    {% if event.attendees | length != 0 %} disabled {% endif %}> X-Large
            </span>
        </div>
        </div>
        </div>
        <hr>
        <span>Location</span>
        <div class="mb-2">
          <label for="street">Street Address: </label>
          <input type="text" id="street" name="address" class="form-control" value="{{event.address}}">
        </div>
        <div class="mb-2">
          <label for="city">City: </label>
          <input type="text" id="city" name="city" class="form-control" value="{{event.city}}">
        </div>
        <div class="mb-2">
          <label for="state">State: </label>
          <select name="state" id="state" class="form-control">
              <option value="{{event.state}}" selected="selected">{{event.state}}</option>
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
          </select>
        </div>
        <div class="mb-2">
          <label for="zipcode">Zip Code: </label>
          <input type="text" id="zipcode" name="zip_code" class="form-control" value="{{event.zip_code}}">
        </div>
        <input type="submit" class="btn btn-success" value="Save Event">
        <input type="button" id="cancelEditBtn" class="btn btn-danger" data-page="events" datasrc="{{event.id}}" value="Cancel">
      </form>
      {% else %}
      <!-- item not edit mode -->
      <div class="card">
        <div class="card-header">
          <span class="center">
            <h3 class="float-left">{{event.name}}</h3>
          {% if event.upcoming and weather %}
          <span class="float-right">Event Forecast:
            <img src="{{weather}}" alt="weather">
          </span>
          {% endif %}
          </span>
        </div>
        <div class="card-body">
          <div class="card-body-info">
          <div class="left-card-info">
            <p><b>When: </b>{{event.event_time}}</p>
            <p><b>What: </b>{{event.description}}</p>
            <p><b>Who: </b> <a href="/users/{{event.creator_id}}">{{event.creator.first_name}}</a></p>
            <div><p><b>Where:</b>
              <p>{{event.address}}</p>
              <p>{{event.city}}, {{event.state}} {{event.zip_code}}</p>
            </p>
              <img src="https://image.maps.api.here.com/mia/1.6/mapview?app_id=hTbK4O9DbrxVabKcFg9C&app_code=xd7WMhnk_GKoFfLViHyntA&co=united_states
          &ci={{event.city}}&zi={{event.zip_code}}&s={{event.address}}&n=9&z=17&h=320&f=1">
            </p>
              <p><b>Attending: </b>
              {% for owner in event.attendees %}
              {% for dog in owner.user_dogs %}
                <a href="/dogs/{{dog.id}}">{{dog.name}}</a>{% if not loop.last %}, {% endif %}
              {% endfor %}
              {% endfor %}
              </p>
            </div>
          </div>
          <div class="right-card-info">
            <h6>Messages</h6>
            <span class="scroll-items">
              <ul id="messageArea" class="list-group">
                {% for message in event.event_messages %}
                <li class="list-group-item">
                  <a href="/users/{{message.poster.id}}">{{message.poster.first_name}}</a> {{message.text}}
                  {% if message.poster_id == session['userid'] %}
                <i class="fas fa-times float-right text-danger icon-message" data-msg-id="{{message.id}}"></i>
                  {% endif %}
                </li>
                {% endfor %}
                {% if event.event_messages | length == 0 %}
                <li class="list-group-item">No Event Messages</li>
                {% endif %}
              </ul>
            </span>
          </div>
        </div>
      </div>
      </div>
      {% if event.upcoming %}
      {% if event.creator_id != session['userid'] %}
        <button class="actionBtns btn btn-primary {% if event.session_user_attending %} hidden {% endif %}
                      {% if event.user_restrictions != 0 %} disabled {% endif %}" datasrc="{{event.id}}" data-action="join">Join</button>
        <button class="actionBtns btn btn-danger {% if not event.session_user_attending %} hidden {% endif %}" datasrc="{{event.id}}" data-action="leave">Leave</button>
      {% else %}
      <a href="/events/{{event.id}}/edit">Edit</a> |
      <a href="/events/{{event.id}}/delete">Delete</a>
      {% endif %}
      <hr>
      <h4>Add Message</h4>
      <form action="/events/{{event.id}}/messages/create" method="post">
        <textarea name="text" rows="3" class="form-control w-50"></textarea>
        <button class="btn btn-primary mt-2">Submit</button>
      </form>
      {% else %}
      <h4 class="mt-2">This event is over</h4>
      {% endif %}
      {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/page.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>