<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap" rel="stylesheet">
    <title>Document</title>
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e3b204c805.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
      <a class="navbar-brand text-light" href="/"><i class="fad fa-dog-leashed mr-3"></i>Doggy Dates</a>
      {% if session['userid'] %}
      <ul class="navbar-nav mr-auto">
        {% if session['user_dogs'] | length != 0 %}
        <li class="nav-item">
          <a class="nav-link" href="/events">Search Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events/create">Add Event</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your Pet Profiles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for dog in session['user_dogs'] %}
          <a class="dropdown-item"  href="/dogs/{{dog.id}}"><i class="fas fa-paw mr-2"></i> {{dog.name}}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/dogs/create">Add Dog</a>
        </div>
      </li>
      </ul>
      <span class="float-right text-light">
        Logout
        <a class="text-light" href="/logout">
          <i class="fas fa-sign-out-alt mx-2"></i>
        </a>
    </span>
      {% endif %}
    </nav>
    <!-- alerts for jinja2 -->
    <ul class="list-group alerts w-25 float-right">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
        <li class="alert alert-{{category}}" role="alert">{{message}}
          <i class="fas fa-times float-right icon-alert"></i>
        </li>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </ul>
    <div class="p-5">
      <span><h3>Hello, {{user.first_name}}!</h3>
        {% if new_messages != 0 %}
      <span class="badge badge-primary">{{new_messages}}</span> New Event Messages!</span>
      {% endif %}
     {% if user.user_dogs | length == 0 %}
      <h5>It looks like you haven't added a dog yet...
        <span class="text-primary link"><a data-toggle="modal" data-target="#dogModal">Add a Dog</a>
        </span>
      </h5>

      {% else %}
      <hr>
      <h4>My Upcoming Events</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="attendingEvents">
        {% for event in user.user_events %}
          {% if event.upcoming %}
          <tr>
            <td>{{event.event.name}}
              {% if event.has_new_message %}
              <i class="fad fa-envelope text-primary ml-2"></i>
              {% endif %}</td>
            </td>
            <td>{{event.event.event_time.strftime('%m-%d-%Y')}}</td>
            <td>{{event.event.event_time.strftime('%I:%M %p')}}</td>
            <td>{{event.event.address}}</td>
            <td>
              <a href="/events/{{event.event.id}}">View</a> |
              <a id="leaveLink" href="/events/{{event.event.id}}/leave">Leave</a>
            </td>
          </tr>
          {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
          <tr id="noEventsAttending"></tr>
        </tfoot>
      </table>
      <hr>
      <h4>Events I am hosting</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Location</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="hostingEvents">
        {% for event in user.hosted_events %}
          <tr>
            <td>{{event.name}}
              {% if event.has_new_message %}
              <i class="fad fa-envelope text-primary ml-2"></i>
              {% endif %}</td>
            <td>{{event.event_time.strftime('%m-%d-%Y')}}</td>
            <td>{{event.event_time.strftime('%I:%M %p')}}</td>
            <td>{{event.address}}</td>
            <td>
              <a href="/events/{{event.id}}">View</a> |
              <a href="/events/{{event.id}}/edit">Edit</a> |
              <a href="/events/{{event.id}}/delete">Delete</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
        <tfoot>
          <tr id="noEventsHosting"></tr>
        </tfoot>
      </table>

        {% for event in user.hosted_events %}
        {% endfor %}
      {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/page.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
