 <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand text-light" href="/"><i class="fad fa-dog-leashed mr-3"></i>Doggy Dates</a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/events">Search Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events/create">Add Event</a>
      </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Your Pet Profiles
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for dog in dogs %}
          <a class="dropdown-item"  href="/dogs/{{dog.id}}"><i class="fas fa-paw mr-2"></i> {{dog.name}}</a>
        {% endfor %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/dogs/create">Add Dog</a>
      </div>
    </li>
    </ul>
    <span class="inline text-light">
      <a class="text-light" href="/logout">Logout
      <i class="fas fa-sign-out-alt mx-2"></i>
    </a>
    </span>
  </div>
</nav>