<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400,700&display=swap" rel="stylesheet">
    <title>Doggy Dates</title>
    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e3b204c805.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
      <a class="navbar-brand text-light" href="/"><i class="fad fa-dog-leashed mr-3"></i>Doggy Dates</a>
      {% if session['userid'] %}
      <ul class="navbar-nav mr-auto">
        {% if session['user_dogs'] | length != 0 %}
        <li class="nav-item">
          <a class="nav-link" href="/events">Search Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events/create">Add Event</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Your Pet Profiles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for dog in session['user_dogs'] %}
          <a class="dropdown-item"  href="/dogs/{{dog.id}}"><i class="fas fa-paw mr-2"></i> {{dog.name}}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/dogs/create">Add Dog</a>
        </div>
      </li>
      </ul>
      <span class="float-right text-light">
        Logout
        <a class="text-light" href="/logout">
          <i class="fas fa-sign-out-alt mx-2"></i>
        </a>
    </span>
      {% endif %}
    </nav>
    <span id="alertArea">
      <ul class="list-group alerts w-25 float-right">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
          <li class="alert alert-{{category}}" role="alert">{{message}}
            <i class="fas fa-times float-right icon-alert"></i>
          </li>
        {% endfor %}
        {% endif %}
        {% endwith %}
      </ul>
    </span>
    <div class="container p-5">
      <h3>{{user.first_name}} {{user.last_name}}</h3>
      <hr>
      {% if user.user_dogs | length != 0 %}
      <h4>User Dogs:</h4>
        {% for dog in user.user_dogs %}
        <div class="card inline">
            <img {% if dog.profile_picture %} src="{{ url_for('static', filename='img/' +  dog.profile_picture )}}" {% else %}
                 src="{{ url_for('static', filename='img/no_pic.jpg' )}}" {% endif %} class="card-image-top">
          <div class="card-footer text-center">
            <a href="/dogs/{{dog.id}}">{{dog.name}}</a>
          </div>
        </div>
        {% endfor %}
      {% endif %}
      <hr>
      <h3>User Event History</h3>
      <table class="table text-center">
        <thead>
          <tr>
            <th>Past</th>
            <th>Upcoming</th>
            <th>Hosted</th>
            <th>Hosting</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            {% for event in user.user_events %}
            {% if not event.upcoming %}
              <li>{{event.event_details.name}}</li>
            {% endif %}
            {% endfor %}
              {% if user.user_events | length == 0 %}
              <li>No past events</li>
              {% endif %}
          </td>
            <td>
            {% for event in user.user_events %}
            {% if event.upcoming %}
              <li><a href="/events/{{event.event_details.id}}">{{event.event_details.name}}</a></li>
            {% endif %}
            {% endfor %}
              {% if user.user_events | length == 0 %}
              <li>No past events</li>
              {% endif %}
          </td>
            <td>
            {% for event in user.hosted_events %}
              {% if not event.upcoming %}
              <li>{{event.name}}</li>
              {% endif %}
              {% endfor %}
              {% if user.hosted_events | length == 0 %}
              <li>No past events</li>
              {% endif %}
          </td>
            <td>
            {% for event in user.hosted_events %}
              {% if event.upcoming %}
              <li><a href="/events/{{event.id}}">{{event.name}}</a></li>
              {% endif %}
              {% endfor %}
              {% if user.hosted_events | length == 0 %}
              <li>No past events</li>
              {% endif %}
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="{{ url_for('static', filename='js/page.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
