body {
    font-family: 'Roboto', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.alerts {
    position: absolute;
    right: 0;
    width: 25%;
    z-index: 1000;
}
.alert-success {
    background-color: green;
    color: white;
}
.alert-error {
    color: white;
    background-color: red;
}
.alert-warning {
    background-color: orange;
    color: white;
}
.alert-info {
    background-color: cornflowerblue;
    color: white;
}
.icon-alert, .icon-message {
    position: relative;
    top: 5px;
}
.link {
    cursor: pointer;
}
.inline {
    display: inline-block !important;
}
.card {
    border-radius: 0 !important;
}
.btn {
    border-radius: 0 !important;
}
.dogProfile {
    width: 300px !important;
    max-height: 300px;
}
.stockImg {
    max-width: 250px;
    max-height: 300px;
    margin: auto;
}
#formUpload {
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.description {
    min-width: 400px !important;
}
.space-between {
    justify-content: space-between;
}
.card-body-info, #editArea {
    display: grid;
}
.left-card-info {
    grid-column: 1;
}
.right-card-info {
    grid-column: 2;
}
.inline {
    display: inline-block;
}
.hidden {
    display: none;
}
.disabled {
    cursor: not-allowed;
}
#dogInfo {
    grid-column: 1;
    width: 50%;
}
#dogPicture {
    grid-column: 2;
    width: 50%;
}
#puppyImg {
    max-width: 800px;
    height: auto;
}
.center {
    vertical-align: middle;
}
.card-image-top {
    height: 150px;
    width: 200px;
    border: 1px solid #dbdbdb;
}
.scroll-items {
    display: block;
    height: 425px;
    overflow-y: scroll;
    padding: 2px;
}
.event-form {
        width: 100% !important;
        display: block !important;
    }
@media screen and (max-width: 756px) {
    .card-body-info {
        display: block;
    }
}
@media screen and (max-width: 756px) {
    .alerts {
        width: 75%;
    }
}
@media screen and (min-width: 540px) {
    #login_section, #register_section {
        width: 50% !important;
    }
}
@media screen and (max-width: 540px) {
    .event-form {
        width: 25% !important;
        display: inline-block !important;
    }
    .container {
        overflow: scroll;
    }
}