@import url('https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
.navbar-brand {
    font-family: 'Grand Hotel', cursive;
    font-size: 2em;
}
.alerts {
    position: absolute;
    right: 0;
    width: 30%;
    z-index: 1000;
}
.alert-success {
    background-color: green;
    color: white;
}
.alert-error {
    color: white;
    background-color: red;
}
.alert-warning {
    background-color: orange;
    color: white;
}
.alert-info {
    background-color: cornflowerblue;
    color: white;
}
.icon-alert, .icon-message {
    position: relative;
    top: 5px;
}
.link {
    cursor: pointer;
}
.inline {
    display: inline-block !important;
}
.card {
    border-radius: 0 !important;
}
.btn {
    border-radius: 0 !important;
}
.dogProfile {
    width: 300px !important;
    max-height: 300px;
}
.stockImg {
    max-width: 250px;
    max-height: 300px;
    margin: auto;
}
.info {
    min-width: 400px;
}
.dog-info {
    display: flex;
    justify-content: space-between;
}
#dogProfile {
    display: inline-block;
}
.dogForm {
    width: 450px;
    display: inline-block;
}
.dogPicture {
    text-align: center;
}
.dogPicture img {
    max-width: 300px;
    max-height: 300px;
}
#formUpload {
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.description {
    min-width: 400px !important;
}
.space-between {
    justify-content: space-between;
}
.card-body-info, #editArea {
    display: grid;
}
.left-card-info {
    grid-column: 1;
}
.right-card-info {
    grid-column: 2;
}
.hidden {
    display: none;
}
.disabled {
    cursor: not-allowed;
}
#puppyImg img{
    width: 50%;
    height: auto;
}
.center {
    vertical-align: middle;
}
.card-image-top {
    height: 150px;
    width: 200px;
    border: 1px solid #dbdbdb;
}
.scroll-items {
    display: block;
    height: 425px;
    overflow-y: scroll;
    padding: 2px;
    overflow: -moz-scrollbars-none;
}
.scroll-items::-webkit-scrollbar { width: 0 !important }
.container::-webkit-scrollbar { width: 0 !important }

.event-form {
        width: 100% !important;
        display: block !important;
}
#msgText {
    width: 50%;
}
#locationImg {
    width: 300px;
    height: 400px;
}
@media screen and (max-width: 400px) {
    .dogForm {
        width: 100% !important;
    }
    .dogPicture {
        width: 100% !important;
    }
    input[type=file] {
        background-color: whitesmoke;
        box-shadow: 1px 1px 1px #dadada;
        border: 1px solid lightgray;
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 756px) {
    .card-body-info {
        display: block;
    }
    .dog-info {
        display: block;
        padding: 10px;
        box-sizing: content-box;
    }
}
@media screen and (max-width: 768px) {
    #msgText {
        width: 100% !important;
    }
    .alerts {
        width: 75%;
    }
    #puppyImg img{
        width: 80%;
        height: auto;
    }
}
@media screen and (min-width: 768px) {
    #msgText {
        width: 100% !important;
    }
}
@media screen and (min-width: 540px) {
    #login_section, #register_section {
        width: 50% !important;
    }
    .event-form {
        width: 25% !important;
        display: inline-block !important;
    }
}
@media screen and (max-width: 540px) {
    .container {
        overflow: scroll;
    }
    .alerts {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .table-card table {
        border: 0;
    }
    .table-card table thead {
        display: none;
    }
    .table-card table tr {
        margin-bottom: 20px;
        display: block;
        border-bottom: 2px solid #ddd;
        box-shadow: 2px 2px 1px #dadada;
    }
    .table-card table td {
        display: block;
        text-align: right;
        font-size: 13px;
    }
    .table-card table td:last-child {
        border-bottom: 0;
    }
    .table-card table td:last-child {
        border-bottom: 0;
    }
    .table-card table td::before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
    .table-card tbody {
        line-height: 0 !important;
    }
}